.form{
    width: 400px;
    border: 1px solid red;
}
.auth{
    border: 1px solid blue;
    display: flex;
    border-radius: 40px;
}
.auth img{
    width: 38px;
    height: 38px;
}
.auth span{
    margin-left: 55px;
    font-size: 20px;
}